create database {{ zabbix_danco }} character set utf8 collate utf8_bin;
create user 'zabbix'@'localhost' identified by {{ zabbix_db_server_pass }}';
grant all privileges on zabbix.* to 'zabbix'@'localhost';
flush privileges;

create user '{{ zabbix_db_server_user }}'@'{{ zabbix_server }}' identified with mysql_native_password by '{{ zabbix_db_server_pass }}';
grant all privileges on zabbix.* to '{{ zabbix_db_server_user }}'@'{{ zabbix_server }}';
flush privileges;

create user '{{ zabbix_db_front_user }}'@'{{ zabbix_front }}' identified with mysql_native_password by '{{ zabbix_db_front_pass }}';
grant all privileges on zabbix.* to '{{ zabbix_db_front_user }}'@'{{ zabbix_front }}';
flush privileges;

